.imageBox {
  width: 600px;
  height: 380px;
  border: 4px solid #fff;
  border-radius: 8%;
  overflow: hidden;
}

.textbox {
  width: 634px;
}

.Projectcontainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 120px;
}

.visitProject {
  display: flex;
  margin-top: 68px;
  align-items: center;
}

.seeProject {
  transition: all 0.3s;
  cursor: pointer;
}

.seeProject:hover {
  transform: translatex(15px);
}

.arrowForward {
  color: #0ee6b7;
  margin-left: 20px;
}
