.imageBox {
  width: 600px;
  height: 380px;
  border: 4px solid #fff;
  border-radius: 8%;
  overflow: hidden;
}

.textbox {
  width: 634px;
}

.Projectcontainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

.visitProject {
  display: flex;
  margin-top: 25px;
  align-items: center;
}

.seeProject {
  transition: all 0.3s;
  cursor: pointer;
}

.seeProject:hover {
  transform: translatex(15px);
}

.arrowForward {
  color: #0ee6b7;
  margin-left: 20px;
}

.textHeading {
  margin-bottom: 18px !important;
  margin-top: 49px !important;
}

.image {
  max-width: 800px;
  height: 500px;
}

@media (max-width: 1464px) {
  .Projectcontainer {
    padding-left: 50px;
    padding-right: 50px;
  }

  .textbox {
    padding-left: 50px;
  }
}

@media (max-width: 1000px) {
  .Projectcontainer {
    flex-direction: column;
    align-items: center;
  }

  .textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 650px) {
  .image {
    max-width: 500px;
    height: 380px;
  }

  .imageBox {
    width: 500px;
  }

  .textbox {
    max-width: 500px;
  }
}

@media (max-width: 540px) {
  .image {
    max-width: 290px;
    height: 290px;
  }

  .imageBox {
    width: 290px;
    height: 240px;
  }

  .textbox {
    max-width: 290px;
    padding-left: 0px;
  }
}
