.aboutSection {
  position: relative;
}

.aboutme {
  color: #7000ff;
}
.aboutmeText {
  position: absolute;
  top: 45%;
  left: 5%;
}

.property {
  color: #0ee6b7;
}

.text {
  margin-bottom: 20px;
}
