.nav {
  align-items: center;
  margin: auto;
  height: 85px;
  align-items: flex-end;
}

.navOptions {
  width: 461px;
}

.socialmediaOptions {
  width: 157px;
  z-index: 100;
}

.link > svg {
  transition: all 0.2s;
  cursor: pointer;
}

.link > svg:hover {
  transform: scale(1.15);
}

.socialApp {
  transition: all 0.3;
}

.socialApp:hover {
  transform: translateY(-5px);
}


.socialMediaOptions {
  display: block;
  display: flex;
}

@media (max-width: 1464px) {
  .navOptions {
    padding-left: 50px;
    padding-right: 50px;
  }

  .socialmediaOptions {
    padding-right: 50px;
  }
}

@media (max-width: 640px) {
  .navOptions {
    padding-left: 20px;
    padding-right: 20px;
  }
  .socialmediaOptions {
    display: none;
  }
  .socialmediaOptions {
    margin: auto;
    padding-right: 0px;
  }
}
