.mainHeading {
  margin-top: 255px;
}

.header {
  margin-bottom: 300px;
}

@media (max-width: 1464px) {
  .mainHeading {
    padding-left: 50px;
  }
}

@media (max-width: 470px) {
  .mainHeading {
    padding-left: 20px;
    margin-top: 50px;
  }
}
