.App {
  margin: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.mainContainer {
  max-width: 1600px;
  margin: auto;
  text-align: left;
}

.styledText {
  color: transparent;
  -webkit-text-stroke: 2px #0ee6b7;
  text-shadow: none;
}

.about {
  margin-bottom: 200px;
}
